


# Python 



This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()

## Data types

### Numbers

In [1]:
a = 1.5 + 1
a

2.5

In [2]:
c = 1 * 4
print(c)

4

In [3]:
2.5 // 2

1.0

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(3 + 2) * (4 + 5)

45

### Variable Assignment

In [8]:
# Can not start with number or special characters like % or $
variable = 2

In [9]:
x = 3
y = 4

In [10]:
z = x + y

In [11]:
z**3

343

### Strings

In [12]:
a = 'single quotes'
b = "single quotes"
c = a + b
print(c)
f = a + ' ' + b
print(f)
# How many space charachters exists in f?
print(f.count(' '))
print(len(f))

print(type(f))

h = 5
print(type(h))

h = 5.3
print(type(h))

h = False
print(type(h))

single quotessingle quotes
single quotes single quotes
3
27
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [13]:
"double quotes"

'double quotes'

### Printing

In [14]:
x = 'hello'

In [15]:
x

'hello'

In [16]:
print(x)

hello

In [17]:
num = 12
name = 'Sam'

In [18]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [19]:
a = [1,2,3]
print(a)
print(type(a))

[1, 2, 3]
<class 'list'>

In [20]:
b=['hi',1,[1,2]]
print(b[2][1])

2

In [21]:
my_list = ['a','b','c']
print(my_list)

['a', 'b', 'c']

In [22]:
my_list.append('d')

In [23]:
my_list

['a', 'b', 'c', 'd']

In [24]:
my_list[0]

'a'

In [25]:
my_list[1]

'b'

In [26]:
my_list[1:]

['b', 'c', 'd']

In [27]:
my_list[:1]

['a']

In [28]:
my_list[0] = 'NEW'

In [29]:
my_list

['NEW', 'b', 'c', 'd']

In [30]:
nest = [1,2,3,[4,5,['target']]]

In [31]:
nest[3]

[4, 5, ['target']]

In [32]:
nest[3][2]

['target']

In [33]:
nest[3][2][0]

'target'

### Dictionaries

In [34]:
d = {'key1':'item1','key2':'item2'}

In [35]:
d

{'key1': 'item1', 'key2': 'item2'}

In [36]:
d['key1']

'item1'

In [37]:
print(d.keys())

dict_keys(['key1', 'key2'])

In [38]:
for i in d.keys():
    print('Key:',i)
    print(d[i])

Key: key1
item1
Key: key2
item2

### Booleans

In [39]:
True

True

In [40]:
False

False

## Comparison Operators

In [41]:
1 > 2

False

In [42]:
1 < 2

True

In [43]:
1 >= 1

True

In [44]:
1 <= 4

True

In [45]:
1 == 1

True

In [46]:
'hi' == 'bye'

False

## Logic Operators

In [47]:
(1 > 2) and (2 < 3)

False

In [48]:
(1 > 2) or (2 < 3)

True

In [49]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [50]:
if 1 < 2:
    print('Yep!')

Yep!

In [51]:
if 1 < 2:
    print('yep!')

yep!

In [52]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [53]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [54]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [55]:
seq = [1,2,3,4,5]

In [56]:
for item in seq:
    print(item)

1
2
3
4
5

In [57]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [58]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [59]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [60]:
range(5)

range(0, 5)

In [61]:
for i in range(5):
    print(i)

0
1
2
3
4

In [62]:
list(range(5))

[0, 1, 2, 3, 4]